body {
  color: rgb(34, 34, 34);
  background-color: rgb(210, 196, 186);
  font-family: poppins;
  padding: 40px 20px 0px;
}

header img {
  width: 300px;
  height: 300px;
}

.center {
  text-align: center;
}

p, ul {
  text-align: justify;
}


.azul {
  color:rgb(52, 180, 209);
}

.gostos {
  color: rgb(235, 120, 190);
}

.update {
  margin-top: 20px;
  text-align: right;
  color:rgb(128, 128, 128);
  font-style: italic;
  font-size: 12px;
}